


<style>
     
    

        .msg{
       
        padding: 150px 460px;
        color: white;
        justify-content: center; 
       
        }

      img{
        height: 60vh;
        width: 100%;
      }

     
  

    .main{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
   .content-left{
  
    width: 50%;
    padding-right: 70px;
    margin-top: 50px;
    
   }
   .content-right{
    margin-top: 130px;
    width: 50%;
   }

</style>




 <div class="bg-image">
    <img 
      src="https://cdn.mos.cms.futurecdn.net/AwXDb7yUTKgzDNxDdR3G9U-970-80.jpg.webp"
      class="w-100"
      alt="Louvre Museum"
    />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="msg">
        <p >We are independently owned, strategic creative owner -
            forever curious and ready to transform the way business is done.</p>
      </div>
    </div>
  </div> 

<div class="main">
<div class="content-left">
    
    <img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-delicious-chocolate-cake-with-premium-frosting-half-kg--135596-m.jpg" alt="">
</div>

<div class="content-right">
    <h2>Our Vision</h2>
    We are working to build the product which meet your expectation and your needs we are trying our best to fullfill your personalized
    demand Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eum ratione nesciunt assumenda exercitationem cumque, laudantium suscipit optio obcaecati architecto. At necessitatibus architecto facere hic est molestias earum. Aut, ea?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, error. Aliquam natus perspiciatis neque, iure dolor deserunt harum quisquam ducimus iste, possimus obcaecati, mollitia libero magni quidem! Suscipit, quidem quasi?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit fuga unde obcaecati molestias deserunt placeat? Illo impedit sapiente placeat architecto animi! Alias consequuntur minus nobis quam nam doloremque, dolorum ipsum?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit labore earum possimus similique, ducimus eum, nulla libero exercitationem, expedita iure facere ea laboriosam id ex! Hic labore officiis alias architecto.
</div>
</div>