 #menu{
  
    background-color: brown;
   padding: 15px;
   position: sticky;
   top: 0;
   width: 100%;
   
   
}

a{
   
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2';
   
}