<link rel="stylesheet" href="home.component.css">

<div class="main-body">
<p >home works!</p>

<div style="height: 200px">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id neque voluptatem sit ipsa ab, ut excepturi perferendis pariatur dicta, dolorem cumque nam repellat mollitia provident at atque qui aut amet.
</div>


<div class="container">
    <div class="box">
        <h3>Our Cakes</h3>
        <img width="250px" height="210px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKaTgxheCT73oR5VZ60OWLaH8gsfWqzN_rCA&usqp=CAU" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolor ducimus sed illum ipsam laborum, itaque maiores quaerat nihil suscipit rerum voluptates perspiciatis magni reprehenderit consequatur praesentium. Beatae, vel quo!</p>
        <p><b>Price: 299Rs</b></p>
    </div>
    <div class="box">
        <h3>Our Cakes</h3>
        <img width="250px" height="210px" src="https://cdn.shopify.com/s/files/1/1758/8043/products/12_512x.jpg?v=1501910820" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic deserunt, laboriosam dolorum dolores reiciendis odit maxime voluptas debitis recusandae dolor obcaecati aliquid necessitatibus non modi nisi voluptatum provident odio beatae?

        </p>
        <p> <b>Price: 250Rs</b> </p>
    </div>
    <div class="box">
        <h3>Our Cakes</h3>
        <img width="250px" height="210px" src="https://www.fnp.com/images/pr/l/v20210323125844/blackforest-cake-1kg_1.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aut expedita provident nulla adipisci culpa itaque maiores est et porro officia, magni distinctio. Non totam ipsum eaque qui expedita odio.</p>
        <p><b>Price: 399Rs</b></p>
    </div>

</div>



<div class="bestSellerCakes">
   <h3 id="brand">Best Sellers</h3>

<div class="row">
<div class="col-sm-3">
   <div class="card" style="width: 18rem;">
    <img class="card-img-top" width="200px" height="170px" src="https://images.unsplash.com/photo-1606983340126-99ab4feaa64a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Kids Birthday Cake <br> <b>Price: 400Rs</b></p>
    </div>
  </div>

</div>


 
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" width="200px" height="170px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdAJlY3Qkol_iqTQwR-Wwnw6Rkdx1NBbez6w&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Kids Birthday Cake <br> <b>Price: 400Rs</b></p>
    </div>
</div>


</div>
<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" width="200px" height="170px" src="https://cdn.pixabay.com/photo/2016/10/27/22/12/cakes-1776661__340.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Kids Birthday Cake <br> <b>Price: 400Rs</b> </p>
    </div>
</div>
</div>


    <div class="col-sm-3">
<div class="card" style="width: 17.5rem;">
    <img class="card-img-top" width="200px" height="170px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSogSf-xZlQrC-EdoNnCbDjLrv1ymNjkHOqAg&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Kids Birthday Cake <br> <b>Price: 400Rs</b></p>
    </div>
</div>
</div>
</div>

<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" width="200px" height="170px" src="https://www.indianhealthyrecipes.com/wp-content/uploads/2021/08/eggless-black-forest-cake-recipe.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> -->


    <!-- <img width="200px" height="170px" src="https://images.unsplash.com/photo-1606983340126-99ab4feaa64a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" alt=""> -->
    
    <!-- <img width="200px" height="170px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdAJlY3Qkol_iqTQwR-Wwnw6Rkdx1NBbez6w&usqp=CAU" alt=""> -->
    <!-- <img width="200px" height="170px" src="https://cdn.pixabay.com/photo/2016/10/27/22/12/cakes-1776661__340.jpg" alt="">
    <img width="200px" height="170px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSogSf-xZlQrC-EdoNnCbDjLrv1ymNjkHOqAg&usqp=CAU" alt="">
    <img width="200px" height="170px" src="https://www.indianhealthyrecipes.com/wp-content/uploads/2021/08/eggless-black-forest-cake-recipe.jpg" alt=""> -->

</div>

<div style="height: 100px; margin-top: 50px">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro provident eligendi dolore voluptate nisi, voluptatem sint blanditiis dignissimos possimus aspernatur voluptas ea saepe vitae labore illo exercitationem beatae eius fuga!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus architecto veritatis modi dolor at quae dolores nostrum velit quaerat impedit omnis soluta, laudantium totam iste. Fuga voluptatum ex dolorem 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rem magnam, error, ut minus distinctio odio aperiam obcaecati illum delectus iste, voluptatem doloremque pariatur laudantium reprehenderit quaerat animi ea corporis!
</div>




</div>


<footer>

</footer>